/*
 * Customization Variables
 */

$accent: #1f3d7a;
$image-size: 180px;
$font: 'Source Serif Pro';


/*
 * Build Variables, don't touch
 */

$max-width: 500px;
$med-width: 300px;
$small-width: 480px;
